body{
    background-color: #F3D4D5;
    font-family:Georgia, 'Times New Roman', Times, serif;

}

header{
    padding:0 0  27px  0 ;
}

footer{
    padding: 27px 0 0 0;
  text-align: center;
  font-size: 12px;
  margin-bottom: -30px;
  margin-top: 70px;
    
}

a{
    text-decoration: underline;
    font-weight: bold;
   color:black;
}

.container{
    background: white;
    max-width: 600px;
    margin: 40px  auto;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 20px 15px 30px 25px;
    padding: -20px;
    padding-top: 30px;
}

.search-input{
background: #F3D4D5;
opacity: 0.5;
border: none;
  border-radius: 8px;
  width: 70%;
  font-size: 14px;
  padding: 15px 23px;
}

.submit-button{
    background: black;
    color:white;
    font-size: 14px;
    border: none;
    padding: 15px 20px;
    border-radius: 15px;
    cursor: pointer;
    width:19%;
}

.weather-data{
    display:flex;
    justify-content: space-between;
}

main{
margin-right:0;
    
   
}

.weather-city{
    margin-left: 0 ;
    font-size: 38px;
    line-height: 40px;
   
}

.weather-details{
    font-size: 19px;
    line-height: 20px;
    color: black;
}

strong{
    color: #F3D4D5;
}

.weather-temperature{
    display:flex;
    margin-right:10px; 
    margin-top: 20px;
}

.weather-number{
    font-size: 80px;
    font-weight:bold;
}
.weather-degree{
    font-size:25px;
    margin-top: 10px;
}
.weather-icon{
font-size: 55px;
margin-top: 20px;
}

.wea